<div class="app">
  <header class="app-header">
    <h1>{{ title }}</h1>
    <nav class="nav">
      <a routerLink="/home">Home</a>
      <a routerLink="/products">Products (Data Binding)</a>
      <a routerLink="/users">Users (Inputs & Outputs)</a>
      <a routerLink="/forms">Forms</a>
      <a routerLink="/http">HTTP & Observables</a>
      <a routerLink="/signals">Signals</a>
      <a routerLink="/contactus">Contact Us</a>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
    <app-binding-sample
      [totalRecords]="2" 
      (pageChange)="onPaginationChange($event)"
    ></app-binding-sample>
  </main>
</div>
